@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
.symbols {
    font-family: "Material Symbols Outlined";
}
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 58, 0.7651435574229692) 18%, rgba(0, 212, 255, 1) 100%);
}
.form {
    padding: 20px;
    border-radius: 10px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 30px;
    position: relative;
}
.form .password {
    padding: 5px 30px;
    padding-left: 5px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid grey;
    outline: none;
    font-size: 20px;
}

.password__validation {
    width: 150px;
}
li {
    margin-bottom: 10px;
    list-style: none;
}
.show__password-btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    position: absolute;
    right: 20px;
    bottom: 25px;
    transition: all 0.3s ease;
    font-size: 20px;
    cursor: pointer;
}
.password__validation {
    display: block;
    padding: 25px;
    background: #ffffff;
    border-radius: 10px;
    width: 250px;
}
.line {
    display: block;
    width: 20px;
    height: 5px;
    background: grey;
    border-radius: 5px;
    margin-top: 5px;
    transition: all 0.3s ease;
}

li {
    display: flex;
    align-items: center;
    background: grey;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.red {
    background: red;
}
.yellow {
    background: yellow;
}
.strong__pass {
    background: green;
}
